.page-container {

    display: flex;

}

h1 {

    font-family: inter;
    font-weight: normal;
    margin-bottom: 16px;

}

.login-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50vw;

}

.logo {

    height: 60px;

}

.robo-image {

    background-image: url("../../assets/imgs/Sidebar.png");
    background-size: cover;
    width: 50vw;
    height: 100vh;

}