.page-container {

    display: flex;

}

h1 {

    font-family: inter;
    font-weight: normal;
    margin-bottom: 16px;

}

.login-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50vw;

}

.logo {

    height: 60px;

}

.robo-image {

    background-image: url("../../assets/imgs/Sidebar.png");
    background-size: cover;
    width: 50vw;
    height: 100vh;

}

.login-container a {

    color: black;

}

@media screen and (max-width : 768px) {

    /* Celular */

    .robo-image {
        display: none;
    }

    .login-container {
        width: 100vw;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../assets/imgs/Sidebar.png");
        background-size: cover;
        color: white;

    }

    .btn {

        background-color: white;

    }

    .login-container a {

        color: white;

    }

}

@media screen and (max-width : 1000px) {

    /* Tablet */

}

@media screen and (max-width : 1366px) {

    /* Desktop Pequeno */

}